# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Archivos de configuración de entorno
.env
secrets.toml

# Archivos de caché y temporales
.temp/
*.log
*.tmp
*.temp

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de imágenes y videos grandes
*.jpeg
*.png
*.avi
*.mp4

# Archivos de Jupyter Notebooks
.ipynb_checkpoints/