/* Estilo general para contenedores */
div[data-testid="stAppViewBlockContainer"] div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stVerticalBlockBorderWrapper"],
div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stHorizontalBlock"] div[data-testid="column"] div[data-testid="stVerticalBlockBorderWrapper"] {
    background-color: #041033ff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(178, 182, 192, 0.3);
}

/* Color etiquetas y títulos */
h1, h2, h3,
label[data-testid="stMetricLabel"] p {  
    font-weight: bold;
    color: #fffcfcff;
}

/* Estilo de valor de métricas */
div[data-testid="stMetricValue"] {
    font-size: 2.5em;
    font-weight: bold;
    color: #82858d;
}

/* Estilo del encabezado */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 20px;
    background-color: #041033;
    border-bottom: 2px solid #f7f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header img {
    width: 100px;
    height: auto;
    padding-right: 15px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #f7f9fa;
}

.header .nav a {
    text-decoration: none;
    color: #f7f9fa;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.header .nav a:hover {
    background-color: #f7f9fa;
    color: #041033;
}

/* Separador del logo */
.logo-separator {
    text-align: center;
    margin: 20px 0;
}

.logo-separator img {
    width: 150px;
}

/* Acerca de */
.acerca-de {
    background-color: white;
    color: #041033;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.acerca-de h2 {
    text-align: center;
    color: #327fba;
}

.acerca-de p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}

/* Tarjetas del equipo */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
    padding: 20px;
}

.team-card {
    background-color: white;
    color: #041033;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.team-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-card h3 {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 10px;
    color: #041033;
}

.team-card p {
    font-size: 0.9em;
    color: #555;
}

/* Botón de volver */
.back-to-top {
    position: fixed;
    bottom: 5px;
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    text-align: center;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #327fba;
    color: #041033;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
    transition: 30ms;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #041033;
    border-bottom: 2px solid #327fba;
    color: #f7f9fa;
}

/* Documentación */
#documentacion {
    background-color: #f7f9fa;
    color: #041033;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#documentacion h2 {
    color: #327fba;
    text-align: center;
}

#documentacion ol {
    font-size: 1em;
    margin: 20px;
    line-height: 1.6;
}

#documentacion li {
    margin-bottom: 10px;
}

/* Tablas */
.dashboardTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
}

.dashboardTable thead tr {
    background-color: #f4f4f9;
    color: #12bb94;
    text-align: left;
}

.dashboardTable th,
.dashboardTable td {
    border: none;
}

.dashboardTable tbody tr {
    border-bottom: 1px solid #ecedff;
    background-color: white;
}

.dashboardTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Código QR */
.qr-section {
    text-align: center;
    margin: 20px auto;
}

.qr-section p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.qr-section img {
    width: 200px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #041033;
    color: white;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #041033;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #327fba;
}
